<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [TramitacaoRS]: %c - %m%n" />
		</layout>
	</appender>

	<!-- File Appender - Local -->
	<appender name="LOCAL" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="File" value="${catalina.base}/logs/TramitacaoRS.log" />
	    <param name="DatePattern" value="'.'yyyy-MM-dd" />
	    <param name="Append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%t]: %c - %m%n"/>
	    </layout>
	</appender>

	<!-- File Appender - Testes JAVA 1 -->
	<appender name="JAVA1TEST" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="File" value="/var/log/application/test-car-rs-tramitacao.log" />
	    <param name="DatePattern" value="'.'yyyy-MM-dd" />
	    <param name="Append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%t]: %c - %m%n"/>
	    </layout>
	</appender>
	
	<!-- File Appender - Apresentação -->
	<appender name="PRESENTATION" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="File" value="/var/log/application/presentation-car-rs-tramitacao.log" />
	    <param name="DatePattern" value="'.'yyyy-MM-dd" />
	    <param name="Append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd/MM/yyyy HH:mm:ss} %-5p [%t]: %c - %m%n"/>
	    </layout>
	</appender>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="br.ufla.lemaf.tramitacao">
		<level value="info" />
	</logger>
	
	<logger name="org.hibernate.SQL">
		<level value="debug" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<!-- <appender-ref ref="console" /> -->
		<!-- <appender-ref ref="LOCAL" /> -->
		<!-- <appender-ref ref="JAVA1TEST" /> -->
		<appender-ref ref="PRESENTATION" />
	</root>

</log4j:configuration>
